appdirs==1.4.4
autopep8==2.3.2
beautifulsoup4==4.14.3
blinker==1.9.0
bs4==0.0.2
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
cssselect==1.4.0
fake-useragent==2.2.0
Flask==3.1.3
idna==3.14
importlib-metadata==9.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.0
MarkupSafe==3.0.3
parse==1.22.0
pycodestyle==2.14.0
pyee==11.1.1
pyppeteer==2.0.0
pyqt5==5.15.11
pyqt5-qt5==5.15.18
pyqt5-sip==12.18.0
pyquery==2.0.1
requests==2.33.1
six==1.17.0
soupsieve==2.8.3
toml==0.10.2
tqdm==4.67.3
typing-extensions==4.15.0
urllib3==1.26.20
w3lib==2.4.1
websockets==10.4
Werkzeug==3.1.8
zipp==3.23.1
